{% extends "teachersapp/D000_Base.html" %}
<!-- <html-->
    <!-- <header> -->
        {% block head %}
            {% load static %}
            <link rel="stylesheet" href="{% static '/css/teachersproject.css' %}">
        {% endblock head %}
    <!-- </header> -->
    <!-- <body> -->
        {% block header %}
            <h1>サンプル画面</h1>
        {% endblock header %}

        {% block content %}
            サンプル画面コンテンツ
            {% if messages %}
                <div class="messages">
                    <br>メッセージ表示エリア-------------------------------------
                        {% for message in messages %}
                            <br>{{ message }}
                        {% endfor %}
                    <br>--------------------------------------------------------
                </div>
            {% endif %}
            {% if list_shitsmnIchirn %}
                <div >
                    {% for shitsmn in list_shitsmnIchirn %}
                        <br>■{{ shitsmn.SHITSMN_TITLE}},{{ shitsmn.SHITSMN_NAIYO}}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock content %}
    <!-- </body>>-->
<!-- </html>-->